    a{
                color: blue;
                text-decoration: none;
            } 
            a:hover{  
          color: orange;
            }
           
          a:active{
                color:green;
           }
           a:visited{
               color: red;
           }
           #pra{
              color:green;
              background-color:orange;
              padding:30px 30px 15px 15px;
              text-align: center;
              width: 200px;
              border-top-left-radius: 5px;
              
              border-bottom-right-radius:10px; 
           }